<h2 class="h4-style text-justify"><strong>The Register is updated every day.</strong><h2>
<br>
<h2 class="h4-style text-justify">Each authorization is placed into the Register after the Office receives the confirmation that it is delivered to the radioamateur.
</h2>
