<h2 class="h4-style text-justify"><strong>Wykaz jest uaktualniany raz na dobę.</strong></h2>
<br>
<h2 class="h4-style text-justify">Pozwolenie umieszczane jest w wykazie dopiero po otrzymaniu przez UKE potwierdzenia dostarczenia pozwolenia do wnioskodawcy, a więc z pewnym opóźnieniem. Brak pozwolenia i znaku wywoławczego w wykazie nie musi oznaczać, że pozwolenie nie zostało wydane.
</h2>
