<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-satellite-dish glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
  	<div class="col-sm-12">

      <%= link_to export_club_devices_path(format: "csv"), class: "btn btn-primary pull-right" do %>
        <span class="fa fa-download"></span>
        <%= t("helpers.links.download") %>
      <% end %>

  	</div> <!--/col-sm-12 -->
  </div> <!--/row -->



</div> <!--/container -->

